make-blueprint.json
{
    "name": "Google Sheets + NanoBanana Коля грається з промптами змінив в 24 модулі на image/jpeg",
    "flow": [
        {
            "id": 2,
            "module": "google-sheets:filterRows",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 13035601
            },
            "mapper": {
                "from": "drive",
                "limit": "1",
                "filter": [
                    [
                        {
                            "a": "AA",
                            "o": "notexist"
                        },
                        {
                            "a": "R",
                            "o": "exist"
                        }
                    ]
                ],
                "sheetId": "Data",
                "sortOrder": "asc",
                "spreadsheetId": "1-wwY0LFlXMs-JveuaKm2GMtmvAT9J-tlXJ6wVkNwZQc",
                "tableFirstRow": "A1:BZ1",
                "includesHeaders": true,
                "valueRenderOption": "FORMATTED_VALUE",
                "dateTimeRenderOption": "FORMATTED_STRING"
            },
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 150
                },
                "restore": {
                    "expect": {
                        "from": {
                            "label": "Select from My Drive"
                        },
                        "orderBy": {
                            "mode": "chose"
                        },
                        "sheetId": {
                            "mode": "chose",
                            "label": "Data"
                        },
                        "sortOrder": {
                            "mode": "chose",
                            "label": "Ascending"
                        },
                        "spreadsheetId": {
                            "mode": "chose",
                            "label": "Normalized data photo"
                        },
                        "tableFirstRow": {
                            "label": "A-BZ"
                        },
                        "includesHeaders": {
                            "mode": "chose",
                            "label": "Yes"
                        },
                        "valueRenderOption": {
                            "mode": "chose",
                            "label": "Formatted value"
                        },
                        "dateTimeRenderOption": {
                            "mode": "chose",
                            "label": "Formatted string"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "My Google connection (lnpromo392@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share"
                            ]
                        }
                    },
                    {
                        "name": "valueRenderOption",
                        "type": "select",
                        "label": "Value render option",
                        "validate": {
                            "enum": [
                                "FORMATTED_VALUE",
                                "UNFORMATTED_VALUE",
                                "FORMULA"
                            ]
                        }
                    },
                    {
                        "name": "dateTimeRenderOption",
                        "type": "select",
                        "label": "Date and time render option",
                        "validate": {
                            "enum": [
                                "SERIAL_NUMBER",
                                "FORMATTED_STRING"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit"
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "select",
                        "label": "Spreadsheet ID",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "tableFirstRow",
                        "type": "select",
                        "label": "Column range",
                        "required": true,
                        "validate": {
                            "enum": [
                                "A1:Z1",
                                "A1:BZ1",
                                "A1:CZ1",
                                "A1:DZ1",
                                "A1:MZ1",
                                "A1:ZZ1",
                                "A1:AZZ1",
                                "A1:BZZ1",
                                "A1:CZZ1",
                                "A1:DZZ1",
                                "A1:MZZ1",
                                "A1:ZZZ1"
                            ]
                        }
                    },
                    {
                        "name": "filter",
                        "type": "filter",
                        "label": "Filter",
                        "options": "rpc://google-sheets/2/rpcGetFilterKeys?includesHeaders=true"
                    },
                    {
                        "name": "orderBy",
                        "type": "select",
                        "label": "Order by"
                    },
                    {
                        "name": "sortOrder",
                        "type": "select",
                        "label": "Sort order",
                        "validate": {
                            "enum": [
                                "asc",
                                "desc"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "type": "uinteger",
                        "label": "Total number of bundles"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "type": "uinteger",
                        "label": "Bundle order position"
                    },
                    {
                        "name": "__ROW_NUMBER__",
                        "type": "number",
                        "label": "Row number"
                    },
                    {
                        "name": "__SPREADSHEET_ID__",
                        "type": "text",
                        "label": "Spreadsheet ID"
                    },
                    {
                        "name": "__SHEET__",
                        "type": "text",
                        "label": "Sheet"
                    },
                    {
                        "name": "0",
                        "type": "text",
                        "label": "№ (A)"
                    },
                    {
                        "name": "1",
                        "type": "text",
                        "label": "Артикул (B)"
                    },
                    {
                        "name": "2",
                        "type": "text",
                        "label": "ШК Виробника (C)"
                    },
                    {
                        "name": "3",
                        "type": "text",
                        "label": "Товар (D)"
                    },
                    {
                        "name": "4",
                        "type": "text",
                        "label": "Бренд (E)"
                    },
                    {
                        "name": "5",
                        "type": "text",
                        "label": "Вид (F)"
                    },
                    {
                        "name": "6",
                        "type": "text",
                        "label": "Розмір (G)"
                    },
                    {
                        "name": "7",
                        "type": "text",
                        "label": "Колір (H)"
                    },
                    {
                        "name": "8",
                        "type": "text",
                        "label": "Країна виробник (I)"
                    },
                    {
                        "name": "9",
                        "type": "text",
                        "label": "Gender (J)"
                    },
                    {
                        "name": "10",
                        "type": "text",
                        "label": "Сезонність (K)"
                    },
                    {
                        "name": "11",
                        "type": "text",
                        "label": "Склад (L)"
                    },
                    {
                        "name": "12",
                        "type": "text",
                        "label": "Опис (M)"
                    },
                    {
                        "name": "13",
                        "type": "text",
                        "label": "Кількість (N)"
                    },
                    {
                        "name": "14",
                        "type": "text",
                        "label": "Ціна постачальника (O)"
                    },
                    {
                        "name": "15",
                        "type": "text",
                        "label": "Продажу (P)"
                    },
                    {
                        "name": "16",
                        "type": "text",
                        "label": "Рекомендована (Q)"
                    },
                    {
                        "name": "17",
                        "type": "text",
                        "label": "Фото_1 (R)"
                    },
                    {
                        "name": "18",
                        "type": "text",
                        "label": "Фото_2 (S)"
                    },
                    {
                        "name": "19",
                        "type": "text",
                        "label": "Фото_3 (T)"
                    },
                    {
                        "name": "20",
                        "type": "text",
                        "label": "Фото_4 (U)"
                    },
                    {
                        "name": "21",
                        "type": "text",
                        "label": "Фото_5 (V)"
                    },
                    {
                        "name": "22",
                        "type": "text",
                        "label": "Фото_6 (W)"
                    },
                    {
                        "name": "23",
                        "type": "text",
                        "label": "Фото_7 (X)"
                    },
                    {
                        "name": "24",
                        "type": "text",
                        "label": "Фото_8 (Y)"
                    },
                    {
                        "name": "25",
                        "type": "text",
                        "label": "Фото_9 (Z)"
                    },
                    {
                        "name": "26",
                        "type": "text",
                        "label": "Статус Генерації (AA)"
                    },
                    {
                        "name": "27",
                        "type": "text",
                        "label": "Згенеровані картинки (AB)"
                    },
                    {
                        "name": "28",
                        "type": "text",
                        "label": "Згенерована картинка 1 (AC)"
                    },
                    {
                        "name": "29",
                        "type": "text",
                        "label": "Згенерована картинка 2 (AD)"
                    },
                    {
                        "name": "30",
                        "type": "text",
                        "label": "Згенерована картинка 3 (AE)"
                    },
                    {
                        "name": "31",
                        "type": "text",
                        "label": "Згенерована картинка 4 (AF)"
                    },
                    {
                        "name": "32",
                        "type": "text",
                        "label": "(AG)"
                    },
                    {
                        "name": "33",
                        "type": "text",
                        "label": "(AH)"
                    },
                    {
                        "name": "34",
                        "type": "text",
                        "label": "(AI)"
                    },
                    {
                        "name": "35",
                        "type": "text",
                        "label": "(AJ)"
                    },
                    {
                        "name": "36",
                        "type": "text",
                        "label": "(AK)"
                    },
                    {
                        "name": "37",
                        "type": "text",
                        "label": "(AL)"
                    },
                    {
                        "name": "38",
                        "type": "text",
                        "label": "(AM)"
                    },
                    {
                        "name": "39",
                        "type": "text",
                        "label": "(AN)"
                    },
                    {
                        "name": "40",
                        "type": "text",
                        "label": "(AO)"
                    },
                    {
                        "name": "41",
                        "type": "text",
                        "label": "(AP)"
                    },
                    {
                        "name": "42",
                        "type": "text",
                        "label": "(AQ)"
                    },
                    {
                        "name": "43",
                        "type": "text",
                        "label": "(AR)"
                    },
                    {
                        "name": "44",
                        "type": "text",
                        "label": "(AS)"
                    },
                    {
                        "name": "45",
                        "type": "text",
                        "label": "(AT)"
                    },
                    {
                        "name": "46",
                        "type": "text",
                        "label": "(AU)"
                    },
                    {
                        "name": "47",
                        "type": "text",
                        "label": "(AV)"
                    },
                    {
                        "name": "48",
                        "type": "text",
                        "label": "(AW)"
                    },
                    {
                        "name": "49",
                        "type": "text",
                        "label": "(AX)"
                    },
                    {
                        "name": "50",
                        "type": "text",
                        "label": "(AY)"
                    },
                    {
                        "name": "51",
                        "type": "text",
                        "label": "(AZ)"
                    },
                    {
                        "name": "52",
                        "type": "text",
                        "label": "(BA)"
                    },
                    {
                        "name": "53",
                        "type": "text",
                        "label": "(BB)"
                    },
                    {
                        "name": "54",
                        "type": "text",
                        "label": "(BC)"
                    },
                    {
                        "name": "55",
                        "type": "text",
                        "label": "(BD)"
                    },
                    {
                        "name": "56",
                        "type": "text",
                        "label": "(BE)"
                    },
                    {
                        "name": "57",
                        "type": "text",
                        "label": "(BF)"
                    },
                    {
                        "name": "58",
                        "type": "text",
                        "label": "(BG)"
                    },
                    {
                        "name": "59",
                        "type": "text",
                        "label": "(BH)"
                    },
                    {
                        "name": "60",
                        "type": "text",
                        "label": "(BI)"
                    },
                    {
                        "name": "61",
                        "type": "text",
                        "label": "(BJ)"
                    },
                    {
                        "name": "62",
                        "type": "text",
                        "label": "(BK)"
                    },
                    {
                        "name": "63",
                        "type": "text",
                        "label": "(BL)"
                    },
                    {
                        "name": "64",
                        "type": "text",
                        "label": "(BM)"
                    },
                    {
                        "name": "65",
                        "type": "text",
                        "label": "(BN)"
                    },
                    {
                        "name": "66",
                        "type": "text",
                        "label": "(BO)"
                    },
                    {
                        "name": "67",
                        "type": "text",
                        "label": "(BP)"
                    },
                    {
                        "name": "68",
                        "type": "text",
                        "label": "(BQ)"
                    },
                    {
                        "name": "69",
                        "type": "text",
                        "label": "(BR)"
                    },
                    {
                        "name": "70",
                        "type": "text",
                        "label": "(BS)"
                    },
                    {
                        "name": "71",
                        "type": "text",
                        "label": "(BT)"
                    },
                    {
                        "name": "72",
                        "type": "text",
                        "label": "(BU)"
                    },
                    {
                        "name": "73",
                        "type": "text",
                        "label": "(BV)"
                    },
                    {
                        "name": "74",
                        "type": "text",
                        "label": "(BW)"
                    },
                    {
                        "name": "75",
                        "type": "text",
                        "label": "(BX)"
                    },
                    {
                        "name": "76",
                        "type": "text",
                        "label": "(BY)"
                    },
                    {
                        "name": "77",
                        "type": "text",
                        "label": "(BZ)"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 62,
            "module": "google-drive:createAFolder",
            "version": 4,
            "parameters": {
                "__IMTCONN__": 13891541
            },
            "mapper": {
                "name": "{{2.`1`}}",
                "shared": false,
                "folderId": "/1_OVkDJpxqfpWi5gvoYUR-5KHe0F-2ehm/1P8i4AckH947Yu3s_Epc6RLg3hUSLmfAK",
                "destination": "drive"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 150
                },
                "restore": {
                    "expect": {
                        "folderId": {
                            "mode": "chose",
                            "path": [
                                "Генерація картинок з Gemini AI",
                                "Картинки з бази"
                            ]
                        },
                        "destination": {
                            "label": "My Drive"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google-restricted"
                            },
                            "label": "My Google Restricted connection10 (lnpromo392@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google-restricted",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "destination",
                        "type": "select",
                        "label": "New Drive Location",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "folderId",
                        "type": "folder",
                        "label": "New Folder Location",
                        "required": true
                    },
                    {
                        "name": "name",
                        "type": "text",
                        "label": "New Folder's Name"
                    },
                    {
                        "name": "shared",
                        "type": "boolean",
                        "label": "Share Folder",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "builtin:BasicFeeder",
            "version": 1,
            "parameters": {},
            "mapper": {
                "array": [
                    "{{2.`17`}}",
                    "{{2.`18`}}",
                    "{{2.`19`}}",
                    "{{2.`20`}}",
                    "{{2.`21`}}",
                    "{{2.`22`}}",
                    "{{2.`23`}}",
                    "{{2.`24`}}",
                    "{{2.`25`}}"
                ]
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 150
                },
                "restore": {
                    "expect": {
                        "array": {
                            "mode": "chose",
                            "items": [
                                null,
                                null,
                                null,
                                null,
                                null,
                                null,
                                null,
                                null,
                                null
                            ]
                        }
                    }
                },
                "expect": [
                    {
                        "mode": "edit",
                        "name": "array",
                        "spec": [],
                        "type": "array",
                        "label": "Array"
                    }
                ]
            }
        },
        {
            "id": 11,
            "module": "http:ActionSendData",
            "version": 3,
            "parameters": {
                "handleErrors": true,
                "useNewZLibDeCompress": true
            },
            "filter": {
                "name": "Ignore empty value for Url's",
                "conditions": [
                    [
                        {
                            "a": "{{4.value}}",
                            "o": "exist"
                        }
                    ]
                ]
            },
            "mapper": {
                "ca": "",
                "qs": [],
                "url": "{{4.value}}",
                "data": "",
                "gzip": true,
                "method": "get",
                "headers": [
                    {
                        "name": "User-Agent",
                        "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/100.0.4896.60 Safari/537.36"
                    }
                ],
                "timeout": "",
                "useMtls": false,
                "authPass": "",
                "authUser": "",
                "bodyType": "raw",
                "contentType": "",
                "serializeUrl": false,
                "shareCookies": false,
                "parseResponse": false,
                "followRedirect": true,
                "useQuerystring": false,
                "followAllRedirects": false,
                "rejectUnauthorized": false
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 150
                },
                "restore": {
                    "expect": {
                        "qs": {
                            "mode": "chose"
                        },
                        "method": {
                            "mode": "chose",
                            "label": "GET"
                        },
                        "headers": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        },
                        "bodyType": {
                            "label": "Raw"
                        },
                        "contentType": {
                            "label": "Empty"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "handleErrors",
                        "type": "boolean",
                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                        "required": true
                    },
                    {
                        "name": "useNewZLibDeCompress",
                        "type": "hidden"
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "serializeUrl",
                        "type": "boolean",
                        "label": "Serialize URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "get",
                                "head",
                                "post",
                                "put",
                                "patch",
                                "delete",
                                "options"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Headers"
                    },
                    {
                        "name": "qs",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Query String"
                    },
                    {
                        "name": "bodyType",
                        "type": "select",
                        "label": "Body type",
                        "validate": {
                            "enum": [
                                "raw",
                                "x_www_form_urlencoded",
                                "multipart_form_data"
                            ]
                        }
                    },
                    {
                        "name": "parseResponse",
                        "type": "boolean",
                        "label": "Parse response",
                        "required": true
                    },
                    {
                        "name": "authUser",
                        "type": "text",
                        "label": "User name"
                    },
                    {
                        "name": "authPass",
                        "type": "password",
                        "label": "Password"
                    },
                    {
                        "name": "timeout",
                        "type": "uinteger",
                        "label": "Timeout",
                        "validate": {
                            "max": 300,
                            "min": 1
                        }
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    },
                    {
                        "name": "ca",
                        "type": "cert",
                        "label": "Self-signed certificate"
                    },
                    {
                        "name": "rejectUnauthorized",
                        "type": "boolean",
                        "label": "Reject connections that are using unverified (self-signed) certificates",
                        "required": true
                    },
                    {
                        "name": "followRedirect",
                        "type": "boolean",
                        "label": "Follow redirect",
                        "required": true
                    },
                    {
                        "name": "useQuerystring",
                        "type": "boolean",
                        "label": "Disable serialization of multiple same query string keys as arrays",
                        "required": true
                    },
                    {
                        "name": "gzip",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                    },
                    {
                        "name": "useMtls",
                        "type": "boolean",
                        "label": "Use Mutual TLS",
                        "required": true
                    },
                    {
                        "name": "contentType",
                        "type": "select",
                        "label": "Content type",
                        "validate": {
                            "enum": [
                                "text/plain",
                                "application/json",
                                "application/xml",
                                "text/xml",
                                "text/html",
                                "custom"
                            ]
                        }
                    },
                    {
                        "name": "data",
                        "type": "buffer",
                        "label": "Request content"
                    },
                    {
                        "name": "followAllRedirects",
                        "type": "boolean",
                        "label": "Follow all redirect",
                        "required": true
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 8,
            "module": "util:SetVariables",
            "version": 1,
            "parameters": {},
            "mapper": {
                "scope": "roundtrip",
                "variables": [
                    {
                        "name": "data",
                        "value": "{{base64(11.data)}}"
                    },
                    {
                        "name": "mime_type",
                        "value": "{{11.headers[5].value}}"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 150
                },
                "restore": {
                    "expect": {
                        "scope": {
                            "label": "One cycle"
                        },
                        "variables": {
                            "items": [
                                null,
                                null
                            ]
                        }
                    }
                },
                "expect": [
                    {
                        "name": "variables",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Variable name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "any",
                                "label": "Variable value"
                            }
                        ],
                        "type": "array",
                        "label": "Variables"
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "data",
                        "type": "any",
                        "label": "data"
                    },
                    {
                        "name": "mime_type",
                        "type": "any",
                        "label": "mime_type"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 9,
            "module": "builtin:BasicAggregator",
            "version": 1,
            "parameters": {
                "feeder": 4
            },
            "mapper": {
                "data": "{{8.data}}",
                "mime_type": "{{8.mime_type}}"
            },
            "metadata": {
                "designer": {
                    "x": 1500,
                    "y": 150
                },
                "restore": {
                    "extra": {
                        "feeder": {
                            "label": "Iterator [4]"
                        },
                        "target": {
                            "label": "Custom"
                        }
                    }
                },
                "advanced": true
            }
        },
        {
            "id": 24,
            "module": "builtin:BasicFeeder",
            "version": 1,
            "parameters": {},
            "mapper": {
                "array": "{{9.array}}"
            },
            "metadata": {
                "designer": {
                    "x": 139,
                    "y": 603
                },
                "restore": {
                    "expect": {
                        "array": {
                            "mode": "edit"
                        }
                    }
                },
                "expect": [
                    {
                        "mode": "edit",
                        "name": "array",
                        "spec": [],
                        "type": "array",
                        "label": "Array"
                    }
                ]
            }
        },
        {
            "id": 14,
            "module": "util:TextAggregator",
            "version": 1,
            "parameters": {
                "feeder": 24,
                "rowSeparator": ""
            },
            "mapper": {
                "value": "{ \"inline_data\": { \"mime_type\": \"image/jpeg\", \"data\": \"{{24.data}}\" } },"
            },
            "metadata": {
                "designer": {
                    "x": 439,
                    "y": 603
                },
                "restore": {
                    "extra": {
                        "feeder": {
                            "label": "Iterator [24]"
                        }
                    },
                    "parameters": {
                        "rowSeparator": {
                            "label": "Empty"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "rowSeparator",
                        "type": "select",
                        "label": "Row separator",
                        "validate": {
                            "enum": [
                                "\n",
                                "\t",
                                "other"
                            ]
                        }
                    }
                ],
                "expect": [
                    {
                        "name": "value",
                        "type": "text",
                        "label": "Text"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 25,
            "module": "builtin:BasicAggregator",
            "version": 1,
            "parameters": {
                "feeder": 14
            },
            "mapper": {
                "text": "{{14.text}}"
            },
            "metadata": {
                "designer": {
                    "x": 739,
                    "y": 603
                },
                "restore": {
                    "extra": {
                        "feeder": {
                            "label": "Tools - Text aggregator [14]"
                        },
                        "target": {
                            "label": "Custom"
                        }
                    }
                }
            }
        },
        {
            "id": 12,
            "module": "gemini-ai:makeApiCall",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 13891708
            },
            "mapper": {
                "url": "/v1beta/models/gemini-2.5-pro:generateContent",
                "body": "{\n  \"systemInstruction\": {\n    \"parts\": [\n      {\n        \"text\": \"Ти — висококваліфікований експерт-стиліст та промпт-інженер для комерційної ШІ-генерації фото (подібно до NanoBanana/Imagen). Твоє завдання — створити ВІСІМ (8) окремих фотореалістичних промптів, кожен з яких описує інший ракурс одного й того самого товару, використовуючи референси та текстовий опис.\n\nОБОВ’ЯЗКОВІ ПРАВИЛА:\n\n1) ОДНА Й ТА САМА МОДЕЛЬ НА ВСІ 8 ПРОМПТАХ\n— За описом цільової аудиторії / Gender (словами: мужчинам, чоловікам, жінкам, женщинам, мальчикам, хлопчикам, девочкам, дівчаткам, дітям, для чоловіків, для жінок, men, women, boys, girls) ти повинен вибрати ВИКЛЮЧНО один тип моделі:\n   • дорослий слов’янський чоловік: високий, мускулистий, широкоплечий, з бородою;\n   • доросла слов’янська жінка;\n   • слов’янський хлопчик ~10 років;\n   • слов’янська дівчинка ~10 років.\n— Опис обраної моделі (вік, зріст, статура, форма обличчя, колір шкіри, волосся, борода для чоловіка) має бути ІДЕНТИЧНИМ у всіх 8 промптах, без змін жодного слова.\n\n2) НЕ КОПІЮВАТИ ОБЛИЧЧЯ З РЕФЕРЕНСІВ\n— Ігноруй обличчя реальної людини на фото.\n— Дозволено використати тільки позу, композицію, положення рук і загальний настрій.\n— Заборонено копіювати риси обличчя, форму голови, очі, ніс, губи, бороду, татуювання, родимки тощо.\n\n3) УРАХОВУЙ СЕЗОННІСТЬ\n— Сезонність товару вказана в полі сезонності.\n— Якщо товар зимовий (рукавиці, шапки, шарфи, зимові куртки, теплі черевики):\n   • Заборонено: голий торс, літній легкий одяг.\n   • Потрібно: теплий одяг — пуховик, зимова куртка, пальто, светр, теплий светшот.\n— Якщо товар осінній:\n   • Куртка, худі, светр, вітровка, демісезонний одяг.\n— Якщо товар літній:\n   • Легкий одяг: футболка, майка, шорти, легка сорочка, топ.\n— Якщо товар демісезонний:\n   • Світшот, лонгслів, легка куртка, casual одяг.\n— Образ моделі завжди має логічно відповідати сезонності товару, аксесуарам (рукавиці, шапки, шарфи) та контексту використання.\n\n4) СТИЛЬ\n— Фотореалістичний стиль, висока деталізація, натуральне освітлення, реалістичні тіні.\n— Не використовуй білий порожній фон чи голу студію.\n— Фон має бути реалістичним, з глибиною сцени, пов’язаним із сезонністю та способом використання товару, але без відволікання від самого товару.\n\n5) ТОВАР\n— Відтворюй товар максимально точно: форма, колір, текстура, матеріал, шви, логотипи, написи, декоративні елементи.\n— Руки й тіло моделі мають природно взаємодіяти з товаром.\n\n6) РАКУРСИ, ЯКІ ТИ МАЄШ ЗГЕНЕРУВАТИ (ВСЬОГО 8):\n1. Full-body front view — повний зріст спереду, товар добре видно.\n2. Full-body side view — повний зріст збоку.\n3. Full-body back view — повний зріст ззаду, видно силует і посадку товару.\n4. 3/4 front view — ракурс 3/4 спереду, акцент на ключових деталях.\n5. 3/4 back view — ракурс 3/4 ззаду, акцент на спинці, швах і посадці.\n6. Close-up detail shot — великий план важливої деталі (текстура, шви, логотип, фурнітура).\n7. Medium action shot — середній план в русі / дії, що логічно показує використання товару.\n8. Creative realistic shot — креативний, але реалістичний кадр, де товар залишається головним.\n\nФОРМАТ ВИВОДУ:\n— Поверни рівно 8 промптів послідовно.\n— Кожен промпт повинен починатися зі слова PROMPT:\n— Одразу після PROMPT: вставляєш однаковий опис обраної моделі (дорослий чоловік / жінка / хлопчик / дівчинка) згідно правил вище.\n— Потім додаєш детальний опис конкретного ракурсу, фону, сезонного одягу та сцени.\n— Не додавай інших службових пояснень чи коментарів.\"\n      }\n    ]\n  },\n  \"contents\": [\n    {\n      \"role\": \"user\",\n      \"parts\": [\n        {{25.array[].text}}\n        {\n          \"text\": \"Опис товару: Бренд: {{2.`4`}}\\nВид: {{2.`5`}}\\nСезонність: {{2.`10`}}\\nGender / цільова аудиторія: {{2.`9`}}\\nСтвори 8 детальних промптів згідно з правилами вище.\"\n        }\n      ]\n    }\n  ]\n}",
                "method": "POST",
                "headers": [
                    {
                        "key": "Content-Type",
                        "value": "application/json"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 1211,
                    "y": 584
                },
                "restore": {
                    "expect": {
                        "qs": {
                            "mode": "chose"
                        },
                        "method": {
                            "mode": "chose",
                            "label": "POST"
                        },
                        "headers": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "gemini-ai-q9zyjp"
                            },
                            "label": "Criptomtp2"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:gemini-ai-q9zyjp",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "text",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "GET",
                                "POST",
                                "PUT",
                                "PATCH",
                                "DELETE"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key"
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Headers"
                    },
                    {
                        "name": "qs",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key"
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Query String"
                    },
                    {
                        "name": "body",
                        "type": "any",
                        "label": "Body"
                    },
                    {
                        "name": "url",
                        "type": "text",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "GET",
                                "POST",
                                "PUT",
                                "PATCH",
                                "DELETE"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key"
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Headers"
                    },
                    {
                        "name": "qs",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key"
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Query String"
                    },
                    {
                        "name": "body",
                        "type": "any",
                        "label": "Body"
                    }
                ]
            }
        },
        {
            "id": 33,
            "module": "regexp:Parser",
            "version": 1,
            "parameters": {
                "global": true,
                "pattern": "PROMPT:\\s*([\\s\\S]*?)(?=PROMPT:|$)",
                "multiline": true,
                "sensitive": true,
                "singleline": false,
                "continueWhenNoRes": false,
                "ignoreInfiniteLoopsWhenGlobal": false
            },
            "mapper": {
                "text": "{{12.body.candidates[].content.parts[].text}}"
            },
            "metadata": {
                "designer": {
                    "x": 1511,
                    "y": 584
                },
                "restore": {},
                "parameters": [
                    {
                        "name": "pattern",
                        "type": "text",
                        "label": "Pattern",
                        "required": true
                    },
                    {
                        "name": "global",
                        "type": "boolean",
                        "label": "Global match",
                        "required": true
                    },
                    {
                        "name": "sensitive",
                        "type": "boolean",
                        "label": "Case sensitive",
                        "required": true
                    },
                    {
                        "name": "multiline",
                        "type": "boolean",
                        "label": "Multiline",
                        "required": true
                    },
                    {
                        "name": "singleline",
                        "type": "boolean",
                        "label": "Singleline",
                        "required": true
                    },
                    {
                        "name": "continueWhenNoRes",
                        "type": "boolean",
                        "label": "Continue the execution of the route even if the module finds no matches",
                        "required": true
                    },
                    {
                        "name": "ignoreInfiniteLoopsWhenGlobal",
                        "type": "boolean",
                        "label": "Ignore errors when there is an infinite search loop",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "text",
                        "type": "text",
                        "label": "Text"
                    }
                ],
                "interface": [
                    {
                        "name": "$1",
                        "type": "text",
                        "label": "$1"
                    },
                    {
                        "name": "i",
                        "type": "uinteger",
                        "label": "i"
                    },
                    {
                        "name": "__IMTMATCH__",
                        "type": "any",
                        "label": "Fallback Match"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 34,
            "module": "builtin:BasicAggregator",
            "version": 1,
            "parameters": {
                "feeder": 33
            },
            "mapper": {
                "$1": "{{33.`$1`}}"
            },
            "metadata": {
                "designer": {
                    "x": 1811,
                    "y": 584
                },
                "restore": {
                    "extra": {
                        "feeder": {
                            "label": "Text parser - Match pattern [33]"
                        },
                        "target": {
                            "label": "Custom"
                        }
                    }
                }
            }
        },
        {
            "id": 27,
            "module": "builtin:BasicFeeder",
            "version": 1,
            "parameters": {},
            "mapper": {
                "array": "{{34.array}}"
            },
            "metadata": {
                "designer": {
                    "x": -113,
                    "y": 1236
                },
                "restore": {
                    "expect": {
                        "array": {
                            "mode": "edit"
                        }
                    }
                },
                "expect": [
                    {
                        "mode": "edit",
                        "name": "array",
                        "spec": [],
                        "type": "array",
                        "label": "Array"
                    }
                ]
            }
        },
        {
            "id": 37,
            "module": "json:CreateJSON",
            "version": 1,
            "parameters": {
                "type": 491538,
                "space": ""
            },
            "mapper": {
                "inline_data": {
                    "data": "{{9.array[1].data}}",
                    "mime_type": "image/jpeg"
                }
            },
            "metadata": {
                "designer": {
                    "x": 278,
                    "y": 1222
                },
                "restore": {
                    "parameters": {
                        "type": {
                            "label": "Gemini File Array Item"
                        },
                        "space": {
                            "label": "Empty"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "type",
                        "type": "udt",
                        "label": "Data structure",
                        "required": true
                    },
                    {
                        "name": "space",
                        "type": "select",
                        "label": "Indentation",
                        "validate": {
                            "enum": [
                                "tab",
                                "2",
                                "4"
                            ]
                        }
                    }
                ],
                "expect": [
                    {
                        "name": "inline_data",
                        "spec": [
                            {
                                "name": "data",
                                "type": "text",
                                "label": null
                            },
                            {
                                "name": "mime_type",
                                "type": "text",
                                "label": null
                            }
                        ],
                        "type": "collection",
                        "label": null
                    }
                ]
            }
        },
        {
            "id": 26,
            "module": "http:ActionSendData",
            "version": 3,
            "parameters": {
                "handleErrors": true,
                "useNewZLibDeCompress": true
            },
            "mapper": {
                "ca": "",
                "qs": [],
                "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash-image:generateContent",
                "data": "{\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"{{replace(replace(replace(27.`$1`; \"\\\"\"\"; \"\\\\\\\"\"\"); \"”\"; \"\\\\\\\"\"\"); \"“\"; \"\\\\\\\"\"\")}}\"\n        },\n        {\n          \"text\": \"ВИКОРИСТАННЯ РЕФЕРЕНСУ:\\n— Додане фото використовуй ТІЛЬКИ для розуміння товару: форма, колір, текстура, шви, логотипи, посадка, положення рук.\\n— Повністю ігноруй обличчя, голову, волосся, очі, губи, бороду, родимки, татуювання та будь-які унікальні риси людини на референсі. Зовнішність реальної людини з фото НЕ може бути відтворена.\\n\\nМОДЕЛЬ:\\n— Тип моделі (дорослий чоловік, доросла жінка, хлопчик, дівчинка) уже заданий у текстовому промпті вище. Ти МУСИШ зберегти одну й ту ж саму модель на всіх 8 зображеннях: однакове обличчя, пропорції тіла, зріст, колір шкіри, колір волосся, борода (якщо чоловік).\\n— Заборонено змінювати зовнішність моделі між ракурсами.\\n\\nСЕЗОННІСТЬ:\\n— Одяг моделі повинeн відповідати сезонності товару:\\n  • Зимові товари (рукавиці, шапки, шарфи, зимові куртки, теплі черевики): ТІЛЬКИ теплий одяг — пуховик, зимова куртка, пальто, теплий светр. НІЯКОГО голого торсу чи легкого літнього одягу.\\n  • Осінні товари: куртка, худі, светр, вітровка.\\n  • Літні товари: футболка, майка, сорочка, топ, легкий одяг.\\n  • Демісезон: світшот, лонгслів, легка куртка.\\n— Образ моделі має бути логічним для аксесуарів: рукавиці/шапка/шарф = теплий комплект.\\n\\nСТИЛЬ І ФОН:\\n— Стиль: фотореалістичний, висока деталізація.\\n— Заборонено білий порожній студійний фон. Фон повинен бути реалістичним, з глибиною, відповідати сезонності та не відволікати від товару.\\n\\nТОВАР:\\n— Відтворюй товар максимально точно: форма, колір, текстура, матеріал, шви, логотипи, принти, декоративні елементи.\\n— Взаємодія рук і тіла з товаром повинна виглядати природно.\\n\\nЯКЩО ВИНИКАЄ ПОМИЛКА (Unable to show the generated image):\\n— Перегенеруй зображення, не змінюючи модель, сезонність та товар. Можна трохи змінити фон або позу. Output format: PNG.  \nImage resolution: exactly 1035x1440 pixels.  \\n\\nУ відповідь НАДАВАТИ тільки слово ГОТОВО.\"\n        },\n        {{37.json}}\n      ]\n    }\n  ]\n}",
                "gzip": true,
                "method": "post",
                "headers": [
                    {
                        "name": "x-goog-api-key",
                        "value": "AIzaSyDUI22-LNXBPEpOA5JL-LtuXOZhueTSl-c"
                    },
                    {
                        "name": "Content-Type",
                        "value": "application/json"
                    }
                ],
                "timeout": "",
                "useMtls": false,
                "authPass": "",
                "authUser": "",
                "bodyType": "raw",
                "contentType": "application/json",
                "serializeUrl": false,
                "shareCookies": false,
                "parseResponse": true,
                "followRedirect": true,
                "useQuerystring": false,
                "followAllRedirects": false,
                "rejectUnauthorized": true
            },
            "metadata": {
                "designer": {
                    "x": 612,
                    "y": 1219,
                    "name": "Google NanoBanana"
                },
                "restore": {
                    "expect": {
                        "qs": {
                            "mode": "chose"
                        },
                        "method": {
                            "mode": "chose",
                            "label": "POST"
                        },
                        "headers": {
                            "mode": "chose",
                            "items": [
                                null,
                                null
                            ]
                        },
                        "bodyType": {
                            "label": "Raw"
                        },
                        "contentType": {
                            "label": "JSON (application/json)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "handleErrors",
                        "type": "boolean",
                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                        "required": true
                    },
                    {
                        "name": "useNewZLibDeCompress",
                        "type": "hidden"
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "serializeUrl",
                        "type": "boolean",
                        "label": "Serialize URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "get",
                                "head",
                                "post",
                                "put",
                                "patch",
                                "delete",
                                "options"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Headers"
                    },
                    {
                        "name": "qs",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Query String"
                    },
                    {
                        "name": "bodyType",
                        "type": "select",
                        "label": "Body type",
                        "validate": {
                            "enum": [
                                "raw",
                                "x_www_form_urlencoded",
                                "multipart_form_data"
                            ]
                        }
                    },
                    {
                        "name": "parseResponse",
                        "type": "boolean",
                        "label": "Parse response",
                        "required": true
                    },
                    {
                        "name": "authUser",
                        "type": "text",
                        "label": "User name"
                    },
                    {
                        "name": "authPass",
                        "type": "password",
                        "label": "Password"
                    },
                    {
                        "name": "timeout",
                        "type": "uinteger",
                        "label": "Timeout",
                        "validate": {
                            "max": 300,
                            "min": 1
                        }
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    },
                    {
                        "name": "ca",
                        "type": "cert",
                        "label": "Self-signed certificate"
                    },
                    {
                        "name": "rejectUnauthorized",
                        "type": "boolean",
                        "label": "Reject connections that are using unverified (self-signed) certificates",
                        "required": true
                    },
                    {
                        "name": "followRedirect",
                        "type": "boolean",
                        "label": "Follow redirect",
                        "required": true
                    },
                    {
                        "name": "useQuerystring",
                        "type": "boolean",
                        "label": "Disable serialization of multiple same query string keys as arrays",
                        "required": true
                    },
                    {
                        "name": "gzip",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                    },
                    {
                        "name": "useMtls",
                        "type": "boolean",
                        "label": "Use Mutual TLS",
                        "required": true
                    },
                    {
                        "name": "contentType",
                        "type": "select",
                        "label": "Content type",
                        "validate": {
                            "enum": [
                                "text/plain",
                                "application/json",
                                "application/xml",
                                "text/xml",
                                "text/html",
                                "custom"
                            ]
                        }
                    },
                    {
                        "name": "data",
                        "type": "buffer",
                        "label": "Request content"
                    },
                    {
                        "name": "followAllRedirects",
                        "type": "boolean",
                        "label": "Follow all redirect",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 43,
            "module": "util:FunctionIncrement",
            "version": 1,
            "parameters": {
                "reset": "execution"
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 1012,
                    "y": 1213
                },
                "restore": {
                    "parameters": {
                        "reset": {
                            "label": "After one scenario run"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "reset",
                        "type": "select",
                        "label": "Reset a value",
                        "required": true,
                        "validate": {
                            "enum": [
                                "run",
                                "execution",
                                "scenario"
                            ]
                        }
                    }
                ]
            }
        },
        {
            "id": 63,
            "module": "util:SetVariable2",
            "version": 1,
            "parameters": {},
            "mapper": {
                "name": "binary64",
                "scope": "roundtrip",
                "value": "{{toBinary(26.data.candidates[].content.parts[2].inlineData.data; \"base64\")}}"
            },
            "metadata": {
                "designer": {
                    "x": 1431,
                    "y": 1205
                },
                "restore": {
                    "expect": {
                        "scope": {
                            "label": "One cycle"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Variable name",
                        "required": true
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    },
                    {
                        "name": "value",
                        "type": "any",
                        "label": "Variable value"
                    }
                ],
                "interface": [
                    {
                        "name": "binary64",
                        "type": "any",
                        "label": "binary64"
                    }
                ]
            }
        },
        {
            "id": 53,
            "module": "google-drive:uploadAFile",
            "version": 4,
            "parameters": {
                "__IMTCONN__": 13891541
            },
            "mapper": {
                "data": "{{63.binary64}}",
                "title": "{{2.`1`}}_{{43.i}}",
                "select": "map",
                "convert": false,
                "filename": "{{2.`1`}}",
                "folderId": "{{62.id}}"
            },
            "metadata": {
                "designer": {
                    "x": -118,
                    "y": 1690
                },
                "restore": {
                    "expect": {
                        "select": {
                            "label": "Enter manually"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google-restricted"
                            },
                            "label": "My Google Restricted connection10 (lnpromo392@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google-restricted",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Enter a Folder ID",
                        "required": true,
                        "validate": {
                            "enum": [
                                "map",
                                "value"
                            ]
                        }
                    },
                    {
                        "name": "title",
                        "type": "text",
                        "label": "New File Name"
                    },
                    {
                        "name": "filename",
                        "type": "text",
                        "label": "File Name",
                        "required": true
                    },
                    {
                        "name": "data",
                        "type": "buffer",
                        "label": "Data",
                        "required": true
                    },
                    {
                        "name": "convert",
                        "type": "boolean",
                        "label": "Convert a File",
                        "required": true
                    },
                    {
                        "name": "folderId",
                        "type": "text",
                        "label": "Folder ID",
                        "required": true
                    }
                ],
                "advanced": true
            },
            "onerror": [
                {
                    "id": 55,
                    "module": "builtin:Ignore",
                    "version": 1,
                    "metadata": {
                        "designer": {
                            "x": -230,
                            "y": 1940
                        }
                    }
                }
            ]
        },
        {
            "id": 45,
            "module": "builtin:BasicAggregator",
            "version": 1,
            "parameters": {
                "feeder": 27
            },
            "mapper": {
                "webViewLink": "{{53.webViewLink}}"
            },
            "metadata": {
                "designer": {
                    "x": 404,
                    "y": 1674
                },
                "restore": {
                    "extra": {
                        "feeder": {
                            "label": "Iterator [27]"
                        },
                        "target": {
                            "label": "Custom"
                        }
                    }
                }
            }
        },
        {
            "id": 65,
            "module": "util:SetVariable2",
            "version": 1,
            "parameters": {},
            "mapper": {
                "name": "generated_images",
                "scope": "roundtrip",
                "value": "{{map(45.array; \"webViewLink\")}}"
            },
            "metadata": {
                "designer": {
                    "x": 866,
                    "y": 1668
                },
                "restore": {
                    "expect": {
                        "scope": {
                            "label": "One cycle"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Variable name",
                        "required": true
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    },
                    {
                        "name": "value",
                        "type": "any",
                        "label": "Variable value"
                    }
                ],
                "interface": [
                    {
                        "name": "generated_images",
                        "type": "any",
                        "label": "generated_images"
                    }
                ]
            }
        },
        {
            "id": 44,
            "module": "google-sheets:updateRow",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 13035601
            },
            "mapper": {
                "from": "drive",
                "mode": "select",
                "values": {
                    "26": "Оброблено",
                    "27": "{{65.generated_images}}",
                    "28": "{{65.generated_images[1]}}",
                    "29": "{{65.generated_images[2]}}",
                    "30": "{{65.generated_images[3]}}",
                    "31": "{{65.generated_images[4]}}",
                    "32": "{{65.generated_images[5]}}",
                    "33": "{{65.generated_images[6]}}",
                    "34": "{{65.generated_images[7]}}",
                    "35": "{{65.generated_images[8]}}"
                },
                "sheetId": "Data",
                "rowNumber": "{{2.`__ROW_NUMBER__`}}",
                "spreadsheetId": "/1-wwY0LFlXMs-JveuaKm2GMtmvAT9J-tlXJ6wVkNwZQc",
                "includesHeaders": true,
                "valueInputOption": "USER_ENTERED"
            },
            "metadata": {
                "designer": {
                    "x": 1448,
                    "y": 1665
                },
                "restore": {
                    "expect": {
                        "from": {
                            "label": "My Drive"
                        },
                        "mode": {
                            "label": "Search by path"
                        },
                        "sheetId": {
                            "label": "Data"
                        },
                        "spreadsheetId": {
                            "path": [
                                "Normalized data photo"
                            ]
                        },
                        "includesHeaders": {
                            "label": "Yes",
                            "nested": [
                                {
                                    "name": "values",
                                    "spec": [
                                        {
                                            "name": "0",
                                            "type": "text",
                                            "label": "№ (A)"
                                        },
                                        {
                                            "name": "1",
                                            "type": "text",
                                            "label": "Артикул (B)"
                                        },
                                        {
                                            "name": "2",
                                            "type": "text",
                                            "label": "ШК Виробника (C)"
                                        },
                                        {
                                            "name": "3",
                                            "type": "text",
                                            "label": "Товар (D)"
                                        },
                                        {
                                            "name": "4",
                                            "type": "text",
                                            "label": "Бренд (E)"
                                        },
                                        {
                                            "name": "5",
                                            "type": "text",
                                            "label": "Вид (F)"
                                        },
                                        {
                                            "name": "6",
                                            "type": "text",
                                            "label": "Розмір (G)"
                                        },
                                        {
                                            "name": "7",
                                            "type": "text",
                                            "label": "Колір (H)"
                                        },
                                        {
                                            "name": "8",
                                            "type": "text",
                                            "label": "Країна виробник (I)"
                                        },
                                        {
                                            "name": "9",
                                            "type": "text",
                                            "label": "Gender (J)"
                                        },
                                        {
                                            "name": "10",
                                            "type": "text",
                                            "label": "Сезонність (K)"
                                        },
                                        {
                                            "name": "11",
                                            "type": "text",
                                            "label": "Склад (L)"
                                        },
                                        {
                                            "name": "12",
                                            "type": "text",
                                            "label": "Опис (M)"
                                        },
                                        {
                                            "name": "13",
                                            "type": "text",
                                            "label": "Кількість (N)"
                                        },
                                        {
                                            "name": "14",
                                            "type": "text",
                                            "label": "Ціна постачальника (O)"
                                        },
                                        {
                                            "name": "15",
                                            "type": "text",
                                            "label": "Продажу (P)"
                                        },
                                        {
                                            "name": "16",
                                            "type": "text",
                                            "label": "Рекомендована (Q)"
                                        },
                                        {
                                            "name": "17",
                                            "type": "text",
                                            "label": "Фото_1 (R)"
                                        },
                                        {
                                            "name": "18",
                                            "type": "text",
                                            "label": "Фото_2 (S)"
                                        },
                                        {
                                            "name": "19",
                                            "type": "text",
                                            "label": "Фото_3 (T)"
                                        },
                                        {
                                            "name": "20",
                                            "type": "text",
                                            "label": "Фото_4 (U)"
                                        },
                                        {
                                            "name": "21",
                                            "type": "text",
                                            "label": "Фото_5 (V)"
                                        },
                                        {
                                            "name": "22",
                                            "type": "text",
                                            "label": "Фото_6 (W)"
                                        },
                                        {
                                            "name": "23",
                                            "type": "text",
                                            "label": "Фото_7 (X)"
                                        },
                                        {
                                            "name": "24",
                                            "type": "text",
                                            "label": "Фото_8 (Y)"
                                        },
                                        {
                                            "name": "25",
                                            "type": "text",
                                            "label": "Фото_9 (Z)"
                                        },
                                        {
                                            "name": "26",
                                            "type": "text",
                                            "label": "Статус Генерації (AA)"
                                        },
                                        {
                                            "name": "27",
                                            "type": "text",
                                            "label": "Згенеровані картинки (AB)"
                                        },
                                        {
                                            "name": "28",
                                            "type": "text",
                                            "label": "Згенерована картинка 1 (AC)"
                                        },
                                        {
                                            "name": "29",
                                            "type": "text",
                                            "label": "Згенерована картинка 2 (AD)"
                                        },
                                        {
                                            "name": "30",
                                            "type": "text",
                                            "label": "Згенерована картинка 3 (AE)"
                                        },
                                        {
                                            "name": "31",
                                            "type": "text",
                                            "label": "Згенерована картинка 4 (AF)"
                                        },
                                        {
                                            "name": "32",
                                            "type": "text",
                                            "label": "Згенерована картинка 5 (AG)"
                                        },
                                        {
                                            "name": "33",
                                            "type": "text",
                                            "label": "Згенерована картинка 6 (AH)"
                                        },
                                        {
                                            "name": "34",
                                            "type": "text",
                                            "label": "Згенерована картинка 7 (AI)"
                                        },
                                        {
                                            "name": "35",
                                            "type": "text",
                                            "label": "Згенерована картинка 8 (AJ)"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Values"
                                }
                            ]
                        },
                        "valueInputOption": {
                            "mode": "chose",
                            "label": "User entered"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "My Google connection (lnpromo392@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "mode",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "select",
                                "fromAll",
                                "map"
                            ]
                        }
                    },
                    {
                        "name": "valueInputOption",
                        "type": "select",
                        "label": "Value input option",
                        "validate": {
                            "enum": [
                                "USER_ENTERED",
                                "RAW"
                            ]
                        }
                    },
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "file",
                        "label": "Spreadsheet ID",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "rowNumber",
                        "type": "uinteger",
                        "label": "Row number",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "values",
                        "spec": [
                            {
                                "name": "0",
                                "type": "text",
                                "label": "№ (A)"
                            },
                            {
                                "name": "1",
                                "type": "text",
                                "label": "Артикул (B)"
                            },
                            {
                                "name": "2",
                                "type": "text",
                                "label": "ШК Виробника (C)"
                            },
                            {
                                "name": "3",
                                "type": "text",
                                "label": "Товар (D)"
                            },
                            {
                                "name": "4",
                                "type": "text",
                                "label": "Бренд (E)"
                            },
                            {
                                "name": "5",
                                "type": "text",
                                "label": "Вид (F)"
                            },
                            {
                                "name": "6",
                                "type": "text",
                                "label": "Розмір (G)"
                            },
                            {
                                "name": "7",
                                "type": "text",
                                "label": "Колір (H)"
                            },
                            {
                                "name": "8",
                                "type": "text",
                                "label": "Країна виробник (I)"
                            },
                            {
                                "name": "9",
                                "type": "text",
                                "label": "Gender (J)"
                            },
                            {
                                "name": "10",
                                "type": "text",
                                "label": "Сезонність (K)"
                            },
                            {
                                "name": "11",
                                "type": "text",
                                "label": "Склад (L)"
                            },
                            {
                                "name": "12",
                                "type": "text",
                                "label": "Опис (M)"
                            },
                            {
                                "name": "13",
                                "type": "text",
                                "label": "Кількість (N)"
                            },
                            {
                                "name": "14",
                                "type": "text",
                                "label": "Ціна постачальника (O)"
                            },
                            {
                                "name": "15",
                                "type": "text",
                                "label": "Продажу (P)"
                            },
                            {
                                "name": "16",
                                "type": "text",
                                "label": "Рекомендована (Q)"
                            },
                            {
                                "name": "17",
                                "type": "text",
                                "label": "Фото_1 (R)"
                            },
                            {
                                "name": "18",
                                "type": "text",
                                "label": "Фото_2 (S)"
                            },
                            {
                                "name": "19",
                                "type": "text",
                                "label": "Фото_3 (T)"
                            },
                            {
                                "name": "20",
                                "type": "text",
                                "label": "Фото_4 (U)"
                            },
                            {
                                "name": "21",
                                "type": "text",
                                "label": "Фото_5 (V)"
                            },
                            {
                                "name": "22",
                                "type": "text",
                                "label": "Фото_6 (W)"
                            },
                            {
                                "name": "23",
                                "type": "text",
                                "label": "Фото_7 (X)"
                            },
                            {
                                "name": "24",
                                "type": "text",
                                "label": "Фото_8 (Y)"
                            },
                            {
                                "name": "25",
                                "type": "text",
                                "label": "Фото_9 (Z)"
                            },
                            {
                                "name": "26",
                                "type": "text",
                                "label": "Статус Генерації (AA)"
                            },
                            {
                                "name": "27",
                                "type": "text",
                                "label": "Згенеровані картинки (AB)"
                            },
                            {
                                "name": "28",
                                "type": "text",
                                "label": "Згенерована картинка 1 (AC)"
                            },
                            {
                                "name": "29",
                                "type": "text",
                                "label": "Згенерована картинка 2 (AD)"
                            },
                            {
                                "name": "30",
                                "type": "text",
                                "label": "Згенерована картинка 3 (AE)"
                            },
                            {
                                "name": "31",
                                "type": "text",
                                "label": "Згенерована картинка 4 (AF)"
                            },
                            {
                                "name": "32",
                                "type": "text",
                                "label": "Згенерована картинка 5 (AG)"
                            },
                            {
                                "name": "33",
                                "type": "text",
                                "label": "Згенерована картинка 6 (AH)"
                            },
                            {
                                "name": "34",
                                "type": "text",
                                "label": "Згенерована картинка 7 (AI)"
                            },
                            {
                                "name": "35",
                                "type": "text",
                                "label": "Згенерована картинка 8 (AJ)"
                            }
                        ],
                        "type": "collection",
                        "label": "Values"
                    }
                ],
                "advanced": true
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu2.make.com",
        "notes": []
    }
}